<html>
<head>
	<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- production version, optimized for size and speed -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	
	<link rel="stylesheet" href="index.css">
</head>
<body>
	<!-- app-1 -->
	<h2>Declarative Rendering</h2>
	<div id="app-1">
		{{ message }}
	</div>
	<!-- app-2 -->
	<div id="app-2" v-bind:title="message">
		<span>
			Hover your mouse over me for a few seconds to 
			see my dynamically bound title!
		</span>
	</div>
	<!-- app-3 -->
	<h2>Conditionals and Loops</h2>
	<div id="app-3">
		<span v-if="seen">Now you see me</span>
	</div>
	<!-- app-4 -->
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	<!-- app-5 -->
	<h2>Handling User Input</h2>
	<div id="app-5">
		<input v-model="message">
		<p>Original message: "{{ message }}"</p>
		<p>Computed reversed message: "{{ reversedMessage }}"</p>
		<button v-on:click="reverseMessage">Reverse Message (method)</button>
	</div>
	<!-- app-7 -->
	<h2>Composing with Components</h2>
	<div id="app-7">
		<ol>
			<!-- Create an instance of the todo-item component -->
			<todo-item 
			v-for='item in groceryList'
			v-bind:todo="item"
			v-bind:key="item.id"></todo-item>
		</ol>
	</div>
	
	<div id="app-8">
		<p>foo: {{ foo }}</p>
		<!-- this will no longer update `foo`! -->
		<button v-on:click="foo = 'baz'">Change it</button><span> (this will no longer update `foo`!)</span>
	</div>
	
	<h2>Watch Example</h2>
	<div id="watch-example">
		<p>
			Ask a yes/no question:
			<input v-model="question" placeholder="edit me">
		</p>
		<p>{{ answer }}</p>
		<img v-bind:src="image"/>
	</div>
	
	<!-- Form Input Bindings -->
	<h2>Form Input Bindings</h2>
	<h3>Checkbox</h3>
	<div id="app-9">
		<input type="checkbox" id="checkbox" v-model="checked"/>
		<label for="checkbox">{{ checked }}</label>
	</div>
	<br>
	
	<div id='app-10'>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
	</div>
	
	<h3>Radio</h3>
	<div id='app-11'>
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br>
		<span>Picked: {{ picked }}</span>
	</div>
	
	<h3>Select</h3>
	<div id='app-12'>
		<select v-model="selected">
			<option disabled value="">Please select one</option>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<span>Selected: {{ selected }}</span>
		
		<h3>Multiple select</h3>
		<select v-model="multielected" multiple>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<br>
		<span>Selected: {{ multielected }}</span>
		
		<h3>Dynamic options </h3>
		<select v-model="dyselected">
			<option v-for="option in options" v-bind:value="option.value">
				{{ option.text }}
			</option>
		</select>
		<span>Selected: {{ dyselected }}</span>
	</div>
	
	<!-- Components Basics -->
	<h2>Components Basics</h2>
	<div id="components-demo">
		<button-counter></button-counter>
		<button-counter></button-counter>
		<button-counter></button-counter>
	</div>
	
	<div id="blog-post-demo">
		<h3>Passing Data to Child Components with Props</h3>
		<blog-post title="My journey with Vue"></blog-post>
		<blog-post title="Blogging with Vue"></blog-post>
		<blog-post title="Why Vue is so fun"></blog-post>
		<h3>post using array</h3>
	</div>
	<div id="blog-posts-events-demo">
		<div :style="{ fontSize: postFontSize + 'em' }">
			<blog-post2
			v-for="post in posts"
			v-bind:key="post.id"
			v-bind:post="post"
			v-on:enlarge-text="postFontSize += 0.1"
			></blog-post2>
		</div>
	</div>
	
</body>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="index.js"></script>
</html>