<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <title>Brand List Management</title>
</head>
<body>
  <div id="app">
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Add Brand</h3>
      </div>
      <div class="panel-body">
        <div class="panel-body form-inline">
          <label>
            Id:
            <input type="text" class="form-control" v-model="id">
          </label>
          <label>
            Name:
            <!-- 1 .enter 按键修饰符 
            2 .键盘码 按键修饰符
              F2的键盘码 113 
            3 用 Vue.config.KeyCodes.f2 = 113 
              自定义按键修饰符  -->
            <input type="text" class="form-control" v-model="name" @keyup.f2="add">
          </label>
          <input type="button" value="add" class="btn btn-primary" @click="add">
          
          <label>
            Search Keyword:
            <input type="text" class="form-control" v-model="keyword" id="search" v-focus v-color="'blue'">
          </label>
        </div>
      </div>
    </div>
    
    
    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Ctime</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in search(keyword)" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.ctime | dateFormat}}</td>
          <td><a href="" @click.prevent="del(item.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <div id="app2">
    <h3 v-color="'pink'" v-fontweight="400" v-fontsize="50">{{ dt | dateFormat }}</p>
  </div>
  
  <script>

    // 自定义全局按键修饰符
    Vue.config.keyCodes.f2 = 113

    // 定义不需要加 v- 使用需要 v-focus
    // Register a global custom directive called `v-focus`
    Vue.directive('focus', {
      // bind: called only once, when the directive is first bound to the element. 
      // This is where you can do one-time setup work.
      bind: function(el){
        // 通常执行和样式有关的操作
      },

      // inserted: called when the bound element has been inserted into its parent node 
      // (this only guarantees parent node presence, not necessarily in-document).
      inserted: function(el){
        // 通常执行和JS有关的操作
        el.focus()
      },

      // update: called after the containing component’s VNode has updated, 
      // but possibly before its children have updated. The directive’s value 
      // may or may not have changed, but you can skip unnecessary updates 
      // by comparing the binding’s current and old values (see below on hook arguments).
      update: function(el){

      },
    })

    // 自定义设置字体颜色
    Vue.directive('color', {
      bind: function(el, binding){
        el.style.color = binding.value
      }
    })

    // How to define a filter?
    // Vue.filter('filter name', function(){})
    // the first parameter is used to receive the data from pipeline
    Vue.filter('dateFormat', function(dateStr, pattern=''){
      var dt = new Date(dateStr)

      var y = dt.getFullYear()
      var m = dt.getMonth()+1
      var d = dt.getDate()

      if(pattern.toLowerCase() === 'yyyy-mm-dd'){
        return `${y}-${m}-${d}`
      }else{
        var hh = dt.getHours()
        var mm = dt.getMinutes()
        var ss = dt.getSeconds()

        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
      }
      
    });

    var vm = new Vue({
      el: '#app',
      data:{
        id: '',
        name: '',
        keyword: '',
        list: [
          {id:1, name:'Benz', ctime: new Date()},
          {id:2, name:'BMW', ctime: new Date()},
        ],
      },
      methods:{
        add(){
          this.list.push({'id':this.id, 'name':this.name, 'ctime': new Date()})
          this.id = this.name = ''
        },
        del(id){
          // this.list.some((item, i) => {
          //   if(item.id === id){
          //     this.list.splice(i, 1)
          //     return true
          //   }
          // })
          var idx = this.list.findIndex(item => {
            if(item.id === id){
              return true
            }
          })
          this.list.splice(idx, 1)
        },
        search(keyword){
          // var newList = []
          // this.list.forEach(elem => {
          //   if(elem.name.indexOf(keyword) != -1){
          //     newList.push(elem)
          //   }
          // })
          // return newList

          return this.list.filter(item => {
            if(item.name.indexOf(keyword) > -1){
              return item
            }

            // if(item.name.includes(keyword)){
            //   return item
            // }
          })
        }
      },
    });

    var vm2 = new Vue({
      el:'#app2',
      data:{
        dt: new Date()
      },
      filters:{
        dateFormat: function (dateStr, pattern='') {
          var dt = new Date(dateStr)

          var y = dt.getFullYear()
          var m = (dt.getMonth()+1).toString().padStart(2, '0')
          var d = (dt.getDate()).toString().padStart(2, '0')

          if(pattern.toLowerCase() === 'yyyy-mm-dd'){
            return `${y}-${m}-${d}`
          }else{
            var hh = dt.getHours().toString().padStart(2, '0')
            var mm = dt.getMinutes().toString().padStart(2, '0')
            var ss = dt.getSeconds().toString().padStart(2, '0')

            return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~`
          }
        }
      },
      directives:{
        'fontweight': {
          bind: function(el, binding){
            el.style.fontWeight = binding.value
          },
        },
        // function等同于把代码写到了 bind 和 update 中
        'fontsize': function(el, binding){
            el.style.fontSize = parseInt(binding.value) + 'px'
        },
      },

    });

  </script>
</body>
</html>